Import numpy and pandas.

In [1]:
import pandas as pd
import numpy as np

Using the bash magic command, view the list of files inside of the data directory.

In [2]:
#

Load the csv file into a Pandas DataFrame.

In [4]:
df = pd.read_csv('ActiveFile-Wilm1thru8-20191015.csv')

/var/folders/7d/177p5yjd3691b3ytzr0fwn_00000gp/T/ipykernel_58557/3774564583.py:1: DtypeWarning: Columns (18,32,35,36,37,40,41,42,46) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ActiveFile-Wilm1thru8-20191015.csv')

Display a list of columns in the DataFrame.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51909 entries, 0 to 51908
Data columns (total 54 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UNIQUE-ID       51909 non-null  int64
 1   LAST-NAME       51909 non-null  object
 2   FIRST-NAME      51909 non-null  object
 3   MID-INIT        45309 non-null  object
 4   SUFFIX          2936 non-null   object
 5   YEAR-OF-BIRTH   51909 non-null  int64
 6   HOME-NO         51909 non-null  object
 7   HOME-APT        12560 non-null  object
 8   HOME-STREET     51909 non-null  object
 9   HOME-DEV        8794 non-null   object
 10  HOME-CITY       51909 non-null  object
 11  HOME-ZIPCODE    51909 non-null  int64
 12  COUNTY          51909 non-null  object
 13  ED              51909 non-null  int64
 14  RD              51909 non-null  int64
 15  SD              51909 non-null  int64
 16  CNLEVY          51909 non-null  int64
 17  WILM            51909 non-null  int64
 18  CODE-HOME-CITY  4 non-null      object
 19  SCH-DIST        51909 non-null  object
 20  PARTY           51909 non-null  object
 21  DATE-REG        51909 non-null  int64
 22  PP-HIST-1       51909 non-null  int64
 23  PP-HIST-2       51909 non-null  int64
 24  PR-HIST-1       51909 non-null  int64
 25  PR-HIST-2       51909 non-null  int64
 26  PR-HIST-3       51909 non-null  int64
 27  GEN-HIST-1      51909 non-null  int64
 28  GEN-HIST-2      51909 non-null  int64
 29  GEN-HIST-3      51909 non-null  int64
 30  GEN-HIST-4      51909 non-null  int64
 31  GEN-HIST-5      51909 non-null  int64
 32  SP-HIST-1       51 non-null     object
 33  SP-HIST-2       0 non-null      float64
 34  SP-HIST-3       0 non-null      float64
 35  SCHL-HIST-1     175 non-null    object
 36  SCHL-HIST-2     669 non-null    object
 37  SCHL-HIST-3     652 non-null    object
 38  SCHL-HIST-4     0 non-null      float64
 39  SCHL-HIST-5     0 non-null      float64
 40  REF-HIST-1      281 non-null    object
 41  REF-HIST-2      14 non-null     object
 42  REF-HIST-3      1 non-null      object
 43  REF-HIST-4      0 non-null      float64
 44  REF-HIST-5      0 non-null      float64
 45  MAIL-NO         303 non-null    object
 46  MAIL-APT        18 non-null     object
 47  MAIL-STR        266 non-null    object
 48  MAIL-CITY       479 non-null    object
 49  MAIL-STATE      479 non-null    object
 50  MAIL-ZIP        480 non-null    float64
 51  DATE-LAST-CHG   51909 non-null  int64
 52  CODE-CHANGE     51909 non-null  object
 53  STATUS          51909 non-null  object
dtypes: float64(7), int64(20), object(27)
memory usage: 21.4+ MB

In [5]:
df.columns

Index(['UNIQUE-ID', 'LAST-NAME', 'FIRST-NAME', 'MID-INIT', 'SUFFIX',
       'YEAR-OF-BIRTH', 'HOME-NO', 'HOME-APT', 'HOME-STREET', 'HOME-DEV',
       'HOME-CITY', 'HOME-ZIPCODE', 'COUNTY', 'ED', 'RD', 'SD', 'CNLEVY',
       'WILM', 'CODE-HOME-CITY', 'SCH-DIST', 'PARTY', 'DATE-REG', 'PP-HIST-1',
       'PP-HIST-2', 'PR-HIST-1', 'PR-HIST-2', 'PR-HIST-3', 'GEN-HIST-1',
       'GEN-HIST-2', 'GEN-HIST-3', 'GEN-HIST-4', 'GEN-HIST-5', 'SP-HIST-1',
       'SP-HIST-2', 'SP-HIST-3', 'SCHL-HIST-1', 'SCHL-HIST-2', 'SCHL-HIST-3',
       'SCHL-HIST-4', 'SCHL-HIST-5', 'REF-HIST-1', 'REF-HIST-2', 'REF-HIST-3',
       'REF-HIST-4', 'REF-HIST-5', 'MAIL-NO', 'MAIL-APT', 'MAIL-STR',
       'MAIL-CITY', 'MAIL-STATE', 'MAIL-ZIP', 'DATE-LAST-CHG', 'CODE-CHANGE',
       'STATUS'],
      dtype='object')

What is the shape of this DataFrame? How many columns does each row have? How many rows are there?

In [8]:
df.shape

(51909, 54)

# HOME ZIP CODE

Group objects using the HOME-ZIPCODE column. Assign the value to a variable called grouped_zc.  
[Pandas Groupby User Guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html)

In [10]:
grouped_zc = df.groupby("HOME-ZIPCODE")

What type of object is grouped_zc?

In [20]:
type(grouped_zc)

pandas.core.groupby.generic.DataFrameGroupBy

DataFrameGroupBy objects contain a groups attribute. Display the value of the groups attribute belonging to the grouped_zc object.

In [27]:
grouped_zc.groups

{19801: [0, 1, 10, 12, 13, 15, 16, 20, 24, 34, 55, 56, 57, 58, 62, 64, 65, 67, 79, 92, 94, 95, 98, 102, 103, 110, 118, 120, 121, 129, 131, 136, 146, 149, 151, 157, 158, 173, 174, 180, 184, 188, 194, 197, 198, 202, 203, 210, 211, 215, 222, 223, 228, 229, 233, 241, 242, 263, 278, 281, 282, 284, 285, 286, 287, 288, 291, 292, 293, 294, 300, 301, 302, 310, 311, 312, 316, 317, 321, 322, 323, 324, 327, 333, 334, 336, 337, 339, 340, 343, 344, 345, 346, 347, 348, 349, 354, 357, 365, 372, ...], 19802: [3, 5, 11, 21, 29, 30, 31, 38, 39, 40, 45, 46, 51, 52, 53, 54, 59, 60, 61, 68, 69, 70, 76, 77, 78, 80, 84, 85, 88, 89, 91, 97, 99, 100, 101, 108, 109, 116, 122, 123, 124, 125, 130, 134, 135, 138, 139, 140, 143, 144, 145, 148, 154, 155, 156, 160, 162, 163, 172, 181, 186, 187, 195, 196, 200, 201, 205, 206, 207, 208, 213, 214, 220, 225, 226, 239, 240, 243, 245, 246, 250, 251, 252, 265, 270, 273, 275, 276, 277, 290, 299, 307, 308, 309, 313, 314, 315, 318, 319, 320, ...], 19805: [4, 6, 7, 8, 14, 17, 18, 19, 22, 23, 25, 26, 27, 32, 33, 35, 36, 37, 41, 42, 43, 44, 47, 49, 50, 63, 66, 71, 72, 73, 74, 75, 81, 82, 86, 87, 90, 93, 104, 105, 107, 111, 112, 113, 115, 117, 119, 126, 127, 128, 132, 133, 137, 141, 142, 147, 152, 153, 159, 161, 164, 165, 166, 167, 168, 175, 176, 177, 178, 179, 182, 183, 185, 189, 190, 191, 192, 199, 209, 212, 216, 217, 218, 221, 227, 230, 231, 232, 234, 235, 236, 237, 244, 247, 248, 249, 253, 254, 255, 256, ...], 19806: [2, 9, 28, 48, 83, 96, 106, 114, 150, 169, 170, 171, 193, 204, 219, 224, 238, 257, 296, 297, 367, 393, 429, 431, 449, 513, 533, 552, 553, 589, 591, 598, 609, 615, 616, 623, 633, 634, 644, 661, 664, 665, 684, 690, 691, 698, 703, 724, 725, 728, 731, 733, 735, 751, 765, 766, 767, 945, 946, 1135, 1170, 1246, 1255, 1322, 1332, 1464, 1491, 1528, 1615, 1616, 1670, 1734, 1759, 1785, 1893, 1894, 1898, 1943, 2053, 2089, 2127, 2129, 2154, 2204, 2294, 2377, 2403, 2518, 2888, 3597, 3731, 3808, 3878, 3879, 3880, 3903, 3904, 3905, 3906, 3907, ...], 19807: [576, 3900, 3901, 3902, 3977, 4595, 5504, 5542, 7186, 7780, 7925, 8051, 9726, 9797, 10091, 10664, 10726, 11217, 11468, 11470, 11695, 11742, 11964, 12656, 12657, 12684, 12855, 16968, 16999, 17542, 17554, 17726, 17728, 17733, 17734, 17797, 17812, 17821, 17839, 18603, 19152, 19643, 20184, 22132, 22278, 25263, 25267, 25269, 36424, 36425, 36434, 36474, 36475, 36537, 36538, 36544, 36546, 36574, 36614, 36615, 36616, 36623, 36631, 36632, 36633, 39112, 39113, 39115, 39136, 39137, 39142, 39143, 39150, 39159, 39171, 39172, 39175, 39179, 39185, 39186, 39191, 39196, 39199, 39202, 39209, 39224, 39225, 39228, 39230, 39236, 39239, 39242, 39247, 39248, 39251, 39254, 39259, 39260, 39261, 39265, ...]}

Invoke the size method on the grouped_zc object to find out how many items are associated with each zip code.

In [21]:
grouped_zc.size()

HOME-ZIPCODE
19801    10730
19802    17182
19805    15548
19806     8326
19807      123
dtype: int64

Use a magic command so that matplotlib graphics will display inline.

In [ ]:
from matplotlib import pyplot.ply as plt

Create a pie chart illustrating the number of voters per zip code.

In [ ]:
#

# YEAR OF BIRTH

Group objects by the YEAR-OF-BIRTH column. Assign the value to an object called "grouped_yob".

In [ ]:
#

Display the value of the groups attribute belonging the grouped_yob object.

In [ ]:
#

Select the object for the row indicating that the voter was born in 1900.

In [ ]:
#

Graph a histogram to  illustrate the age distribution of voters in this dataset. Ty using different values for the bins attribute of the histogram.

In [ ]:
#

# PARTY

Group objects using the PARTY column. Assign the value to a variable called grouped_p.

In [ ]:
#

Display the value of the groups attribute belonging to the grouped_p object.

In [ ]:
#

Invoke the size method on the grouped_p object to find out how many items are associated with each party.

In [ ]:
#

Create a bar chart to visualize the number of voters associated with each party.

In [ ]:
#

# Merging Two DataFrames

Using the data from the documentation, create a Pandas DataFrame that contains the party code and the corresponding legal name for each party.

In [ ]:
# legal_names = {}

In [ ]:
# df_legal_names = pd.DataFrame(legal_names)

In [ ]:
# df_legal_names

Create a Pandas DataFrame that contains the Party code and the corresponding number of registered voters for said party.

In [ ]:
# Create DataFrame df_party_counts here

In [ ]:
# df_party_counts

Merge the two DataFrames.

In [ ]:
# Merge DataFrame here

In [ ]:
# Display new DataFrame here

Create a bar graph again but using the legal name for each party as the value on the x axes.

In [ ]:
#